/*Registro*/

#registration {
    padding: 6vw 8vw 6vw 8vw;
    background-image:url("/images/cappuccino.png");
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#registration .reminder {
    color: #000;
    align-items: center;
    padding-left: 35%;
}

#registration .reminder h3 {
    color: #000
}

#registration .form{
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

#registration .form {
    align-items: center;
    color: white;
}

#registration .form input{
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    margin: 0 5px 10px 5px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid #f3e2d3;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#registration .form textarea {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    margin: 0 5px 10px 5px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid #f3e2d3;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#registration .form input::placeholder{
    color: #413c3c;
    font-weight: 500;
    font-size: 0.9rem;
}

#registration .form .btn{
    margin-top: 20px;
}

#registration .form button.green {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px; 
    color: #fff;
    background: rgb(40, 199, 69);
    border: none;
    transition: 0.3s ease;
}


